.container {
    border-style: solid;
}
.flex-row {
    display:flex;
    flex-wrap:wrap;
}
#cardRow {
}
.card {
    background-color:blue;
    color:white;
}
.btn-primary:hover {
    background-color: rgba(0, 0, 255, 0.50);
}
.card-body {
    /* white-space: nowrap; */
    padding: 0 !important;
}
