.container {
    /* border-style: solid; */
}
.flex-row {
    display:flex;
    flex-wrap:wrap;
}
#cardRow {
}
.card {
    background-color:blue;
}
.btn-primary:hover {
    background-color: rgba(0, 0, 255, 0.50);
}
p {
    margin-bottom: 0rem;
}
aside {
    margin-left:0px;
}